<!-- filepath: d:\Python\Django - Curs\myproject\books\templates\books\books_list_filtered.html -->
{% extends 'layout.html' %}

{% block title %}
    Books
{% endblock %}

{% block content %}
<section>
    <h1>Books</h1>
    <form method="get" action="{% url 'books:books_list_filtered' %}" class="search-form">
        {% csrf_token %}
        <input type="text" name="title" value="{{ title }}" placeholder="Search by title" class="search-input">
        <button type="submit" class = "search-button" >Search</button>
    </form>
    {% for book in books %}
        <article class="book">
            <h2>
                <a href="{% url 'books:book' book.slug %}">
                    {{ book.title }}
                </a>
            </h2>
            <p>Published on {{ book.date }}</p>
            <p>{{ book.description }}</p>
        </article>
    {% endfor %}
</section>
{% endblock %}