* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 3rem;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
}

main {
    padding: 1rem;
}

section {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

h1,
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

.button-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #44B78B;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem; 
    transition: background-color 0.3s ease;
    align-self: flex-start; 
}

.button-link:hover {
    background-color: #369f6b;
}

.button-link h1 {
    margin: 0;
    font-size: 1.5rem;
}

.button-link:hover {
    background-color: #369f6b;
}

.button-link h1 {
    margin: 0;
    font-size: 1.5rem;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    max-width: 350px;
}

.search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #44B78B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #369f6b;
}

.banner {
    display: block;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
}

.form-with-validation {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.form-with-validation input {
    padding: 0.25rem;
    max-width: 300px;
}

.form-with-validation textarea {
    padding: 0.25rem;
    max-width: 300px;
    min-height: 100px;
    max-height: 300px;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 10px;
    width: 125px;
    background-color: #44B78B;
    color: white;
}

.helptext {
    font-size: 1rem;
    margin-left: 1rem;
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: '🚨 ';
}